<h1>Pages#contact</h1>

<p>Joe Blog Contact Number: <%= number_to_phone "0432571990" %></p>

<p>Joe Blogs Net worth: <%= number_to_currency "34314335" %></p>

<p>Joe Blogs Body Cells: <%= number_with_delimiter "46436433452232343432355423426" %></p>
